<div class='flex'>
  <div id='menu-left' class='w-64 fixed shadow-lg h-screen hidden lg:block' >
    <header class='bg-blue-900'>
      <div class='ml-8  py-6 shadow-2xl'>
        <fom-metro-crm></fom-metro-crm>
      </div>
    </header>
    <nav class='pt-2'>
      <fom-menu-left-nav></fom-menu-left-nav>
    </nav>
  </div>

  <div class='lg:ml-64 w-full'>
    <header class="fixed w-full lg:pr-64 bg-white z-50 flex justify-between items-center shadow-lg px-4  lg:px-8 py-3  ">
      <div class="flex items-center">
        <img class="w-14" src="assets/logo.png" alt="Focus Logo" />
        <div class="ml-2">
          <div class="uppercase text-yellow-500 font-bold lg:text-lg">
            Ministry of Education, GHANA
          </div>
          <div class="text-md text-gray-500 hidden uppercase sm:block">Food inventory Management system</div>
        </div>
      </div>

      <div>
        <button
          (click)="toggle()"
          class="btn btn-circle btn-sm border-0 bg-yellow-400 hover:bg-yellow-500 lg:hidden"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            fill="#fff"
            viewBox="0 0 48 48"
            class="inline-block w-6 h-6 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="0"
              d="M6 22H42V26H6zM6 10H42V14H6zM6 34H42V38H6z"
            />
          </svg>
        </button>
        <div *ngIf='authUser$|async as user' nz-dropdown [nzDropdownMenu]="menu" class='items-center mr-8 rounded-lg hover:bg-gray-100 cursor-pointer px-3 py-1 hidden lg:flex'>
          <ngx-avatar [name]='user.name'></ngx-avatar>
          <div class='ml-2'>
            <div class='text-md font-semibold'>{{user.name}}</div>
            <div class='text-sm'>{{user.role.name}}</div>
          </div>


        </div>

        <nz-dropdown-menu style='background: #f69d0c' #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li (click)='logout()' class='py-3' nz-menu-item>
              <a>Logout</a>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </header>

    <div class='bg-gray-100 overflow-y-scroll z-30 pt-20 h-screen'>
<!--      <ng-progress></ng-progress>-->
      <div class='px-4 py-4'>
        <router-outlet></router-outlet>
      </div>
    </div>

    <nz-drawer
      [nzClosable]="false"
      [nzVisible]="visible"
      nzPlacement="left"
      [nzTitle]="titleRef"
      (nzOnClose)="toggle()"
    >
      <ng-template #titleRef>
        <a autofocus class="flex items-center">
          <img class="w-8" src="assets/metro-crm-small.png" alt="Metro CRM" />
          <div class="ml-4 text-xl">
          <span class="text-blue-400 font-bold">Metro</span
          ><span class="text-purple-900 ml-1">Inventory</span>
          </div>
        </a>
      </ng-template>
      <ng-container *nzDrawerContent>
        <fom-mobile-nav></fom-mobile-nav>
      </ng-container>
    </nz-drawer>
  </div>

</div>
