<div class="flex flex-col h-full justify-between">
  <ul class="space-y-8">
    <li
      class='border-0'
      routerLink="/dashboard"
      routerLinkActive="text-yellow-500  font-semibold"
    >
      <a class="flex items-center">
        <span class="inline-block font-semibold ml-2 w-6 h-6 text-yellow-500 stroke-0 fe fe-home text-base"></span>
        <span class="ml-4 text-base">Dashboard</span>
      </a>
    </li>
    <li
      routerLink="/schools"
      routerLinkActive="text-yellow-500 font-semibold"
    >
      <a class="flex items-center">
        <span class="inline-block font-semibold ml-2 w-6 h-6 text-yellow-500 stroke-0 fe fe-grid text-base"></span>

        <span class="ml-4 text-base">Schools</span>
      </a>
    </li>



    <li
      routerLink="/users"
      routerLinkActive="text-yellow-500 font-semibold"
    >
      <a class="flex items-center">
        <span class="inline-block font-semibold ml-2 w-6 h-6 text-yellow-500 stroke-0 fe fe-users text-base"></span>

        <span class="ml-4 text-base">Users</span>
      </a>
    </li>
  </ul>

  <div class=''>
    <div class='flex items-center'>
      <ngx-avatar name='David Tetteh'></ngx-avatar>
      <div class='ml-2'>
        <div class='text-md font-semibold'>David Tetteh</div>
        <div class='text-sm'>Administrator</div>
      </div>
    </div>
    <div class='mt-4'>
      <a nz-button (click)='logout()' nzBlock nzDanger nzType='default'>Logout</a>
    </div>
  </div>
</div>
