<div class="">
  <ul class="space-y-2">
    <li
      class='pl-10'
      routerLink="/dashboard"
      routerLinkActive="bg-yellow-500"
    >
      <a class="flex items-center">
        <span class="inline-block font-semibold w-6 h-6 text-yellow-500 stroke-0 fe fe-home text-base"></span>
        <span class="ml-4 text-base">Dashboard</span>
      </a>
    </li>

    <li
      class='pl-10'
      routerLink="/inventory"
      routerLinkActive="bg-yellow-500"
    >
      <a class="flex items-center">
        <span class="inline-block font-semibold w-6 h-6 text-yellow-500 stroke-0 fe fe-box text-base"></span>

        <span class="ml-4 text-base">Stocks</span>
      </a>
    </li>


    <li
      class='pl-10'
      routerLink="/users"
      routerLinkActive="bg-yellow-500"
    >
      <a class="flex items-center">
        <span class="inline-block font-semibold w-6 h-6 text-yellow-500 stroke-0 fe fe-users text-base"></span>

        <span class="ml-4 text-base">Users</span>
      </a>
    </li>
  </ul>
</div>
